@use '../../styles/partials/mixins' as *;

.rippleSection {
    background-color: #A621F6;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div:first-child {
        width: 80%;
        & > article {
            display: flex;
            flex-direction: row;
            padding: 2rem 0rem;
            @include tablet {
                flex-wrap: wrap;
            }
            @include mobile {
                flex-direction: column;
                align-items: center;
            }
            & img {
                width: 22rem;
                border-radius: 1rem;
                @include mobile {
                    width: 16rem;
                }
            }
        }
    }
    &__heading {
        @include secondary-header;
        width: 80%;
        margin-bottom: 1rem;
        color: #FFFFFF;
        @include mobile {
            width: 100%;
        }
    }
    &__text {
        @include body-text;
        width: 69%;
        color: #FFFFFF;
        @include mobile {
            width: 100%;
        }
    }
}