@use '../../styles/partials/mixins' as *;

.supportSection {
    background-color: #420D62;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
        padding: 2rem 1rem;
    }
    @include mobile {
        padding: 2rem 1rem;
    }

    & > div:first-child {
        width: 70%;
        & > article {
            display: flex;
            flex-direction: row;
            padding: 3rem 0rem;
            @include tablet {
                flex-wrap: wrap;
                padding: 2rem 0rem;
            }
            @include mobile {
                flex-direction: column;
                align-items: center;
                padding: 2rem 0rem;
            }
            & img {
                width: 22rem;
                @include mobile {
                    width: 16rem;
                }
            }
        }
    }

    &--line {
        border: 1px solid #FFFFFF;
    }
    &__heading {
        @include secondary-header;
        width: 80%;
        margin-bottom: 1rem;
        color: #FFFFFF;
        // background: -webkit-linear-gradient(#AC00F4, #1A0826);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        @include tablet {
            margin-top: 0;
        }
        @include mobile {
            width: 100%;
            margin-top: 0;
        }
    }
    &__text {
        @include body-text;
        width: 80%;
        color: #FFFFFF;
        @include mobile {
            width: 100%;
        }
    }
}