.footer {
  background-image: url("/assets/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 3rem 6.5rem;
}
@media screen and (max-width: 760px) {
  .footer {
    padding: 3rem 1rem;
  }
}
.footer__contact {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: unset;
}
@media screen and (min-width: 1025px) {
  .footer__contact {
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 3rem;
    width: 65%;
  }
}
@media screen and (max-width: 760px) {
  .footer > img {
    width: 100%;
  }
}
.footer > article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}
@media screen and (max-width: 1024px) and (min-width: 761px) {
  .footer > article {
    flex-direction: column;
  }
}
@media screen and (max-width: 760px) {
  .footer > article {
    flex-direction: column;
  }
}
.footer__aboutus {
  color: #FFFFFF;
}
.footer__aboutus > h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 800;
  font-family: "Afacad Flux", sans-serif;
}
@media screen and (max-width: 760px) {
  .footer__aboutus > h3 {
    font-size: 1.8rem;
  }
}
.footer__aboutus > p {
  font-size: 1.6rem;
  line-height: 40px;
  font-weight: 500;
}
@media screen and (min-width: 1025px) {
  .footer__aboutus > p {
    width: 70%;
    min-width: 14rem;
  }
}
@media screen and (min-width: 1025px) {
  .footer__aboutus > p {
    font-size: 1rem;
    line-height: 18px;
  }
}
@media screen and (max-width: 760px) {
  .footer__location {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.footer__location h3 {
  font-size: 1.2rem;
  font-weight: 800;
  font-family: "Afacad Flux", sans-serif;
  color: #FFFFFF;
}
@media screen and (max-width: 760px) {
  .footer__location h3 {
    font-size: 1.8rem;
  }
}
.footer__location p, .footer__location a {
  color: #FFFFFF;
  font-size: 1.6rem;
  line-height: 40px;
  font-weight: 500;
}
@media screen and (min-width: 1025px) {
  .footer__location p, .footer__location a {
    font-size: 1rem;
    line-height: 18px;
  }
}
.footer__location > div {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
@media screen and (max-width: 760px) {
  .footer__location > div {
    flex-wrap: wrap;
  }
}
.footer__donate {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #FFFFFF;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .footer__donate {
    width: 20%;
  }
}
.footer__donate--link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
@media screen and (min-width: 1025px) {
  .footer__donate--link {
    flex-direction: column;
  }
}
.footer__donate > div:first-child {
  font-size: 1.2rem;
  font-weight: 800;
  font-family: "Afacad Flux", sans-serif;
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1.6rem;
}
@media screen and (max-width: 760px) {
  .footer__donate > div:first-child {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1025px) {
  .footer__donate > div:first-child {
    font-size: 1rem;
    line-height: 18px;
  }
}
.footer__donate a {
  background-color: #EF6CEF;
  text-align: center;
  display: block;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.7rem;
  border-radius: 2rem;
  text-decoration: none;
  color: #FFFFFF;
  width: 12rem;
  padding: 0.9rem;
}
.footer__donate a:hover {
  cursor: pointer;
}
@media screen and (min-width: 1025px) {
  .footer__donate a {
    line-height: 6px;
    font-size: 0.8rem;
    width: 9rem;
  }
}

.location {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
@media screen and (max-width: 760px) {
  .location {
    flex-wrap: wrap;
  }
}
.location > div:first-child {
  font-size: 1.6rem;
  line-height: 40px;
  font-weight: 500;
}
@media screen and (min-width: 1025px) {
  .location > div:first-child {
    font-size: 1rem;
    line-height: 18px;
  }
}
.location > p {
  margin: 0 0 1rem 0;
  font-size: 1.6rem;
  line-height: 40px;
  font-weight: 500;
}
@media screen and (min-width: 1025px) {
  .location > p {
    font-size: 1rem;
    line-height: 18px;
  }
}
@media screen and (min-width: 1025px) {
  .location > p {
    white-space: nowrap;
  }
}
.location > a:nth-child(2) {
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 40px;
  font-weight: 500;
}
@media screen and (min-width: 1025px) {
  .location > a:nth-child(2) {
    font-size: 1rem;
    line-height: 18px;
  }
}/*# sourceMappingURL=Footer.css.map */