@use '../../styles/partials/mixins' as *;

.donateSection {
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 3rem 6.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    @include mobile {
        padding: 3rem 3.5rem;
    }
    & > div:first-child {
        position: relative;
        z-index: 1;
        & > h2 {
            color: #FFFFFF;
            margin-top: 0;
            @include secondary-header;
            font-size: 2rem;
            margin-bottom: 3rem;
            @include mobile {
                line-height: 35px;
            }
        }
    }
    &__links {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        @include mobile {
            flex-direction: column;
        }
        & a {
            background-color: #EF6CEF;
            text-align: center;
            @include buttons;
        }
    }
    & > div:last-child {
        & > img {
            position: absolute;
            bottom: 0%;
            right: 0%;
            width: 26rem;
            @include mobile {
                width: 69%;
            }
        }
    }
    
}